body {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  background-color: #ffffff;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.container {
  width: 100%;
  max-width: 1158px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}
ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
img {
  display: block;
}
.list {
  list-style-type: none;
}
.link {
  font-style: normal;
  text-decoration: none;
}
button {
  cursor: pointer;
  border: none;
}
/*==============HEADER==============*/
.page-header {
  display: flex;
  justify-content: center;
}

.header-conteiner {
  display: flex;
  padding-top: 24px;
  justify-content: space-between;
}
.top-nav {
  display: flex;
}
.logo-header {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-right: 76px;
}
.logo-span {
  text-transform: uppercase;
  color: #2e2f42;
}

.list-nav-item .link:hover,
.list-nav-item .link:focus {
  color: #404bbf;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.list-nav {
  display: flex;
  gap: 40px;
}
.link-nav {
  display: flex;
  position: relative;
  color: #2e2f42;
  padding-bottom: 24px;
  overflow: hidden;
}
.link-nav::after {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: #404bbf;
  border-radius: 2px;
  content: '';
}
.list-nav-item:hover .link-nav::after {
  transform: translateY(0);
}
.list-address {
  display: flex;
  gap: 40px;
}
.link-add {
  font-weight: 400;
  color: #2e2f42;
}
.list-add-item .link:hover,
.list-add-item .link:focus {
  color: #404bbf;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/*=============section-heading==============*/
.section-heading {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.container-heading {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.page-heading {
  padding-top: 188px;
  width: 496px;
  text-align: center;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  color: #ffffff;
}
.button-heading {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  margin-top: 48px;
  margin-bottom: 188px;
  padding: 16px 32px;
  border-radius: 4px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  letter-spacing: 0.04em;
  background-color: #4d5ae5;
  color: #ffffff;
}
.button-heading:hover,
.button-heading:focus {
  background-color: #404bbf;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/*=============section-description==============*/
.list-description {
  display: flex;
  gap: 24px;
  padding-bottom: 120px;
  padding-top: 120px;
}
.list-item-description {
  width: 264px;
}
.description-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 1px #8e8f99;
  border-radius: 4px;
  padding-top: 24px;
  padding-bottom: 24px;
  margin-bottom: 8px;
  background-color: #f4f4fd;
}
.heading-description {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  margin-bottom: 8px;
}
.description {
  font-weight: 400;
  font-size: 16px;
  color: #434455;
}
/*=================our-team=================*/
.section-our-team {
  background-color: #f4f4fd;
}
.container-our-team {
  padding-top: 120px;
  padding-bottom: 120px;
}
.list-item-hero {
  background-color: #ffffff;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}
.hero {
  display: flex;
  justify-content: center;
  margin-bottom: 72px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11em;
}
.list-hero {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
}
.list-item-hero {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
.name-hero {
  display: flex;
  justify-content: center;
  margin-top: 32px;
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2em;
}
.profession-hero {
  display: flex;
  justify-content: center;
  margin-bottom: 8px;
  font-weight: 400;
  font-size: 16px;
  color: #434455;
}
.list-icons-our-team {
  display: flex;
  justify-content: center;
  margin-bottom: 32px;
  gap: 24px;
}
.item-list-our-tem {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #4d5ae5;
}
.icon-our-team {
  fill: #f4f4fd;
}
/*====================our-portfolio=============*/
.container-our-portfolio {
  margin-top: 120px;
  margin-bottom: 120px;
}
.heading-our-portfolio {
  display: flex;
  justify-content: center;
  margin-bottom: 72px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11em;
}
.list-our-portfolio {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}
.img-our-portfolio {
  position: relative;
  overflow: hidden;
}
.overlay {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  max-width: 360px;
  height: 300px;
  padding-top: 40px;
  padding-left: 32px;
  padding-right: 32px;
  font-weight: 400;
  font-size: 16px;
  color: #f4f4fd;
  background-color: #4d5ae5;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.img-our-portfolio:hover .overlay {
  transform: translateY(0);
}
.card-content {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
  padding-bottom: 32px;
  padding-top: 32px;
  padding-left: 16px;
  border-right: solid 1px #e7e9fc;
  border-bottom: solid 1px #e7e9fc;
  border-left: solid 1px #e7e9fc;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.list-item-our-portfolio:hover .card-content {
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}
.title-our-portfolio {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2em;
}
.description-our-portfolio {
  font-weight: 400;
  font-size: 16px;
  color: #434455;
}
/*======================footer==================*/
footer {
  background-color: #2e2f42;
}
.container-footer {
  display: flex;
  justify-content: baseline;
  padding-bottom: 100px;
  padding-top: 100px;
}
.container-footer-logo {
  display: flex;
  flex-direction: column;
  padding-right: 120px;
  row-gap: 16px;
}
.logo-footer {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
.logo-span-footer {
  text-transform: uppercase;
  color: #f4f4fd;
}
.footer-description {
  font-weight: 400;
  font-size: 16px;
  color: #f4f4fd;
  max-width: 264px;
}
.footer-icons {
}
.description-icons-footer {
  color: #fff;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.list-icons-footer {
  display: flex;
  column-gap: 16px;
}

.social-icon-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  gap: 16px;
  border-radius: 50%;
  background-color: #404bbf;
}
.icon-footer {
  fill: #f4f4fd;
}
